<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons slot="end">
      <ionic-context-menu icon="ellipsis-vertical-sharp">
        <ionic-context-menu-item icon="home" (click)="log(1)">Item A</ionic-context-menu-item>
        <ionic-context-menu-item icon="star" (click)="log(2)">Item B</ionic-context-menu-item>
        <ionic-context-menu-item icon="cube" (click)="log(3)">Item C</ionic-context-menu-item>
        <ionic-context-menu-item icon="beer" (click)="log(4)">Item D</ionic-context-menu-item>
      </ionic-context-menu>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
</ion-content>
